*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#database config files
applicationContext.xml

#target path
/target

.settings
.classpath
.project
target
src/main/resources/log
src/main/resources/dev

nfe\.pdf

dev\.xml

\.externalToolBuilders/

*.log

src/main/resources/tmp/

src/main/resources/log4j2-test\.xml
